  <%- include('partials/header') -%>
  <div class="container">
    <div class="row justify-content-center mt-5">
      <div class="col-6">
        <h2><%= brew.name %></h2>
        <img class="img-fluid" src="<%= brew.image%>" />
        <div class="row justify-content-between">
          <form class="col-1" action="/brew/rateBrew/<%= brew.id %>?_method=PUT" method="POST">
            <div class="rate">
              <% let ratedOne = "rate" %>
              <% let ratedTwo = "rate" %>
              <% let ratedThree = "rate" %>
              <% let ratedFour = "rate" %>
              <% let ratedFive = "rate" %>

              <% if (brew.rating === 5) { %>
                <% ratedFive = "rated" %>
                <% ratedFour = "rated" %>
                <% ratedThree = "rated" %>
                <% ratedTwo = "rated" %>
                <% ratedOne = "rated" %>
              <% } %>
              <% if (brew.rating === 4) { %>
                <% ratedFive = "" %>
                <% ratedFour = "rated" %>
                <% ratedThree = "rated" %>
                <% ratedTwo = "rated" %>
                <% ratedOne = "rated" %>
              <% } %>
              <% if (brew.rating === 3) { %>
                <% ratedFive = "" %>
                <% ratedFour = "" %>
                <% ratedThree = "rated" %>
                <% ratedTwo = "rated" %>
                <% ratedOne = "rated" %>
              <% } %>
              <% if (brew.rating === 2) { %>
                <% ratedFive = "" %>
                <% ratedFour = "" %>
                <% ratedThree = "" %>
                <% ratedTwo = "rated" %>
                <% ratedOne = "rated" %>
              <% } %>
              <% if (brew.rating === 1) { %>
                <% ratedFive = "" %>
                <% ratedFour = "" %>
                <% ratedThree = "" %>
                <% ratedTwo = "" %>
                <% ratedOne = "rated" %>
              <% } %>
              <button type="submit" value="1" name="rating" class="btn btn-med" id="<%= ratedOne %>">★</button>
              <button type="submit" value="2" name="rating" class="btn btn-med" id="<%= ratedTwo %>">★</button>
              <button type="submit" value="3" name="rating" class="btn btn-med" id="<%= ratedThree %>">★</button>
              <button type="submit" value="4" name="rating" class="btn btn-med" id="<%= ratedFour %>">★</button>
              <button type="submit" value="5" name="rating" class="btn btn-med" id="<%= ratedFive %>">★</button>
            </div>
          </form>
          <%if(brew.user == user.id){ %>
          <form action="/brew/deleteBrew/<%= brew.id %>?_method=DELETE" method="POST" class="col-3">
            <button class="btn btn-primary fa fa-trash" type="submit"></button>
          </form>
          <%}%>
        </div>
      </div>
      <div class="col-3 mt-5">
        <p><%= brew.note %></p>
        <h3><%= brew.tea %></h3>
        <h3><%= brew.avgTemp %></h3>
        <h3><%= brew.firstFerment %></h3>
        <h3><%= brew.secondFerment %></h3>
        <h3><%= brew.thirdFerment %></h3>
<%# have previous ferment dates display DONE! after date has passed %>
        
        <div class="col-6 mt-5">
          <a class="btn btn-primary" href="/profile">Return to Profile</a>
        </div>
      </div>
      <div>
        <div>
          <h2>Edit Brew</h2>
        </div>
        <form action="/brew/editBrew/<%= brew._id %>?_method=PUT" method="POST">
          <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" name="name" value="<%= brew.name %>" placeholder="<%= brew.name %>">
          </div>
          <div class="mb-3">
            <label for="note" class="form-label">Note</label>
            <textarea class="form-control" id="note" name="note" value="<%= brew.note %>" placeholder="<%= brew.note %>"></textarea>
          </div>
          <div class="mb-3">
            <label for="tea" class="form-label">Tea</label>
            <textarea class="form-control" id="tea" name="tea" value="<%= brew.tea %>" placeholder="<%= brew.tea %>"></textarea>
          </div>
          <div class="mb-3">
            <label for="avgTemp" class="form-label">Ambient Temp</label>
            <textarea class="form-control" id="avgTemp" name="avgTemp" value="<%= brew.avgTemp %>" placeholder="<%= brew.avgTemp %>"></textarea>
          </div>
          <div class="mb-3">
            <label for="firstFerment" class="form-label">1st ferment date</label>
            <input type="datetime-local" placeholder="<%= brew.firstFerment %>" class="input input-bordered w-full" id="firstFerment" name="firstFerment" />
          </div>
          <div class="mb-3">
            <label for="secondFerment" class="form-label">2nd ferment date</label>
            <input type="datetime-local" placeholder="<%= brew.secondFerment %>" class="input input-bordered w-full" id="secondFerment" name="secondFerment" />
          </div>
          <div class="mb-3">
            <label for="thirdFerment" class="form-label">3rd ferment date</label>
            <input type="datetime-local" placeholder="<%= brew.thirdFerment %>" class="input input-bordered w-full" id="thirdFerment" name="thirdFerment" />
          </div>
          <div class="mb-3">
            <label for="imgUpload" class="form-label">Replace photo</label>
            <input type="file" class="form-control" id="imageUpload" name="file">
          </div>
          <button type="submit" class="btn btn-primary" value="Upload">Save</button>
        </form>
      </div>
      </div>
    </div>
  </div>

  <%- include('partials/footer') -%>