<%- include('partials/header') -%>
<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-6">
      <h2><%= brew.name %></h2>
      <img class="img-fluid" src="<%= brew.image%>" />
      <div class="row justify-content-between">
        <form class="col-1" action="/post/likePost/<%= brew.id %>?_method=PUT" method="POST">
          <button class="btn btn-primary fa fa-heart" type="submit"></button>
        </form>
        <h3 class="col-3">Likes: <%= brew.rating %></h3>
        <%if(brew.user == user.id){ %>
        <form action="/post/deletePost/<%= brew.id %>?_method=DELETE" method="POST" class="col-3">
          <button class="btn btn-primary fa fa-trash" type="submit"></button>
        </form>
        <%}%>
      </div>
    </div>
    <div class="col-3 mt-5">
      <p><%= brew.note %></p>
      </div>

      <div class="col-6 mt-5">
        <a class="btn btn-primary" href="/profile">Return to Profile</a>
        <a class="btn btn-primary" href="/feed">Return to Feed</a>
      </div>
    </div>
  </div>

  <%- include('partials/footer') -%>